/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  width: 100%;
  padding: 20px; }

img, embed, object, video {
  max-width: 100%; }

/*  ----------- Columns ----------- */
.one-whole {
  max-width: 100%; }

.one-half {
  width: 50%; }

.one-third {
  width: 33.33%; }

.one-fourth {
  width: 25%; }

/*  ----------- Phones ----------- */
@media screen and (min-width: 320px) {
  body {
    background-color: #ffd661; }
  .img-header {
    height: 200px; }
  .text-in-header {
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px; }
  .name {
    padding: 10px;
    position: relative;
    top: 10px;
    font-size: 40px;
    z-index: 2;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-font-smoothing: antialiased; }
  .intro {
    font-size: 20px;
    position: relative;
    top: -40px;
    left: 40px;
    z-index: 1; }
  .nav-header {
    max-width: 100%;
    margin: 0 auto; }
    .nav-header a {
      width: 100%;
      background-color: grey;
      display: block;
      border: 1px solid black; }
  .projects {
    height: 200px;
    overflow: auto;
    padding: 10px; }
  .project-preview {
    margin-top: 30px; } }

/* -----------  Tablets ----------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: lightgreen; }
  .img-header {
    height: 400px;
    width: 100%; }
  .nav-header {
    max-width: 100%;
    margin: 0 auto; }
    .nav-header a {
      background-color: orange; }
  .project-preview {
    margin-top: 30px;
    border: 1px solid white; } }

/*  ----------- Desktops and laptops ----------- */
@media screen and (min-width: 1000px) {
  body {
    background-color: lightblue; }
  .img-header {
    height: 500px;
    width: 100%; }
  .nav-header {
    max-width: 100%;
    background-color: grey;
    border: 1px solid black;
    margin: 0 auto; }
    .nav-header a {
      border: 0;
      display: inline;
      width: 100%; }
  .project-body {
    border: 3px solid black; }
    .project-body .projects {
      width: 40%;
      height: 700px;
      display: inline-block;
      overflow: auto;
      padding: 10px; }
    .project-body .project-preview {
      display: inline-block;
      position: relative;
      width: 50%;
      padding: 20px; }
      .project-body .project-preview img {
        margin-left: 100px;
        height: 400px; } }

.ng-enter {
  transition: 0.75s;
  opacity: 0; }

.ng-enter-stagger {
  transition-delay: 0.1s; }

.ng-leave-stagger {
  transition-delay: 0.1s; }

.ng-enter-active {
  opacity: 1; }

.ng-leave {
  transition: 0.75s;
  opacity: 1; }

.ng-leave-active {
  opacity: 0; }

.ng-hide-add {
  animation: 0.9s lightSpeedOut ease; }

.ng-hide-remove {
  animation: 0.5s flipInX ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px); } }

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }

@keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }

.project-body .projects img {
  border: 1px solid grey;
  height: 100px;
  width: 100px; }

.project-body .project-preview {
  text-align: center; }
  .project-body .project-preview h3 {
    margin: -20px; }
  .project-body .project-preview span {
    font-size: 30px; }

html {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: lighter;
  font-size: 40px; }

.name {
  font-family: 'Lobster', cursive;
  color: white; }

.intro {
  font-family: 'Open Sans Condensed', sans-serif;
  color: darkgrey; }

.img-header {
  border: 1px solid darkgrey;
  background: url(../images/img-header.png) no-repeat center center;
  background-size: cover; }

.nav-header {
  margin: 10px 10px;
  text-align: center; }
  .nav-header img {
    border-radius: 50%;
    border: 3px solid black;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 400px;
    left: 550px;
    z-index: 1;
    display: none; }
  .nav-header a {
    margin-right: 100px; }

.nav-footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: white;
  border: 1px solid grey; }

.social-media {
  float: right; }

.img-divider {
  width: 400px;
  height: 20px;
  display: block;
  margin: 75px auto; }
