//BODY
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 20px;
}

img, embed, object, video{
  max-width: 100%;
}

/*  ----------- Columns ----------- */
.one-whole {
  max-width: 100%;
}

.one-half {
  width: 50%;
}

.one-third {
 width: 33.33%;
}

.one-fourth {
 width: 25%;
}


/*  ----------- Phones ----------- */
@media screen and (min-width : 320px) {

  body {
    background-color: #ffd661;
  }
  .img-header {
    height: 200px;
  }

  .text-in-header {
    float: right;
    background-color: rgba(000,000,000, .5);
    height: 150px;
  }
  .name {
    padding: 10px;
    position: relative;
    top: 10px;
    font-size: 40px;
    z-index: 2;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    -webkit-font-smoothing: antialiased;
  }

  .intro {
    font-size: 20px;
    position: relative;
    top: -40px;
    left: 40px;
    z-index: 1
  }

  .nav-header {
    max-width: 100%;
    margin: 0 auto;
    a {
      width: 100%;
      background-color: grey;
      display: block;
      border: 1px solid black;
    }
  }

  .projects {
    height: 200px;
    overflow: auto;
    padding: 10px;
  }

  .project-preview {
    margin-top: 30px;
  }

}

/* -----------  Tablets ----------- */
@media screen and (min-width : 768px)
and (max-width : 1024px) {

  body {
    background-color: lightgreen;
  }

  .img-header {
    height: 400px;
    width: 100%;
  }

  .nav-header {
    max-width: 100%;
    margin: 0 auto;
    a {
      background-color: orange;
    }
  }

  .project-preview {
    margin-top: 30px;
    border: 1px solid white;
  }
}


/*  ----------- Desktops and laptops ----------- */
@media screen and (min-width : 1000px) {

  body {
    background-color: lightblue;
  }

  .img-header {
    height: 500px;
    width: 100%;
  }

  .nav-header {
    max-width: 100%;
    background-color: grey;
    border: 1px solid black;
    margin: 0 auto;
    a {
      border: 0;
      display: inline;
      width: 100%;
    }
  }

  .project-body {
    border: 3px solid black;
    .projects {
      width: 40%;
      height: 700px;
      display: inline-block;
      overflow: auto;
      padding: 10px;
    }

    .project-preview {
      display: inline-block;
      position: relative;
        width: 50%;
        padding: 20px;
      img {
        margin-left: 100px;
        height: 400px;
      }
    }
  }
}
