html {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: lighter;
  font-size: 40px;
}

.name {
  font-family: 'Lobster', cursive;
  //font-family: 'Dawning of a New Day', cursive;
  color: white;
}


.intro {
  font-family: 'Open Sans Condensed', sans-serif;
  color: darkgrey;
}
