<img src="../images/img-divider.png" alt="divider" class="img-divider"/>

<a name="about" id="about">
    <h1>ABOUT PARAGRAPH</h1>
    Cupcake ipsum dolor sit amet wafer pastry icing tootsie roll. Jujubes chupa chups bonbon powder. Macaroon ice cream candy canes. Gingerbread tootsie roll carrot cake cake macaroon marshmallow. Sesame snaps carrot cake marzipan lollipop carrot cake candy canes dragée liquorice toffee. Soufflé carrot cake gummies bear claw tiramisu cheesecake apple pie. Macaroon toffee biscuit liquorice donut sugar plum dessert bear claw chocolate bar. Gummi bears wafer bonbon cotton candy ice cream. Bonbon jelly beans cookie cotton candy pastry. Sweet roll dessert tart jelly-o sesame snaps lemon drops croissant sweet roll oat cake. Topping biscuit pudding sweet roll marzipan chocolate bar cupcake. Chocolate cake pastry cookie biscuit candy.
    Marzipan brownie brownie sweet roll cookie wafer jelly beans bonbon macaroon. Lollipop marzipan biscuit sesame snaps marshmallow apple pie donut cupcake. Pie lemon drops gummi bears candy canes chocolate bar. Marshmallow jelly beans candy toffee. Cupcake candy jelly beans powder gingerbread lollipop pudding dessert. Lollipop cake sweet gingerbread cheesecake cookie. Sugar plum brownie gummies gummies tiramisu brownie sesame snaps tart soufflé. Sugar plum gingerbread soufflé caramels tart tootsie roll macaroon tootsie roll lemon drops. Brownie cheesecake caramels. Soufflé caramels toffee chocolate bar ice cream chupa chups. Wafer icing liquorice danish icing biscuit jujubes. Cookie biscuit jelly-o.
</a>

<img src="../images/img-divider.png" alt="divider" class="img-divider"/>

<a name="projects" id="projects">
   <!--ng-controller="Projects" ng-repeat="project in projects">-->
    <h1>PROJECTS PARAGRAPH</h1>
    <div class="projects">
        <img src="http://placehold.it/100x100">
        <img src="http://placehold.it/100x100">
        <img src="http://placehold.it/100x100">

        <img src="http://placehold.it/100x100">
        <img src="http://placehold.it/100x100">
        <img src="http://placehold.it/100x100">

        <img src="http://placehold.it/100x100">
        <img src="http://placehold.it/100x100">
        <img src="http://placehold.it/100x100">
    </div>

    <div class="project-preview">
        <img src="images/mobiledevices.png" alt="devices"/>
    </div>
</a>

<img src="../images/img-divider.png" alt="divider" class="img-divider"/>

<a name="contact" id="contact">
    <h1>CONTACT PARAGRAPH</h1>
    Name: <input type="text" placeholder="Name"/>
    <br>
    Email: <input type="text" placeholder="Email"/>
    <br>
    <textarea name="message" id="message" cols="20" rows="4" placeholder="Message here"></textarea>
</a>