<img src="{{divider}}" alt="divider" class="img-divider"/>

<!------------------- ABOUT SECTION -------------------------->
<a name="about" id="about">
    <h1>ABOUT PARAGRAPH</h1>
    {{about}}
</a>

<img src="../images/img-divider.png" alt="divider" class="img-divider"/>

<!------------------- PROJECTS SECTION -------------------------->
<a name="projects" id="projects">
    <h1>PROJECTS PARAGRAPH</h1>
    <div class="project-body">

        <!------THUMBNAIL----->
        <div class="projects" ng-repeat="thumbnail in projects">
            <a ng-click="show()"><img src="{{thumbnail.thumbnail}}"></a>
        </div>

        <!------PREVIEW----->
        <div ng-show="formClick > 0" class="project-preview" ng-repeat="preview in projects">
            <h3>{{preview.title}}</h3><br>
            <h6>{{preview.description}}</h6><br>
            <img src="{{preview.preview}}" alt="project preview"/>
            <span class="project-description">
                Technologies: {{preview.technologies}}<br>
                    <a href="https://github.com/JenanMannette/tictactoe" target="_blank"><i class="fa fa-github"></i></a> || <a
                    href="https://jenan-tictactoe.herokuapp.com/" target="_blank">Live Demo</a>
            </span>
        </div>

    </div>
</a>

<img src="../images/img-divider.png" alt="divider" class="img-divider"/>

<!------------------- CONTACT SECTION -------------------------->
<a name="contact" id="contact">
    <h1>CONTACT PARAGRAPH</h1>

    <form enctype="text/plain" method="get" action="mailto:jenanmannette@gmail.com">
        Your First Name: <input type="text" name="first_name"><br>
        Your Last Name: <input type="text" name="last_name"><br>
        Comments: <textarea rows="5" cols="30" name="comments"></textarea>
        <input type="submit" value="Send">
    </form>

    <!--<form action="mailto:jenanmannette@gmail.com" method="post" Enctype="text/plain">-->
        <!--<label for="name">Name:</label>-->
        <!--<input type="text" id="name" placeholder="Name"/>-->
        <!--<br>-->
        <!--Email: <input type="text" placeholder="Email"/>-->
        <!--<br>-->
        <!--<textarea name="message" id="message" cols="20" rows="4" placeholder="Message here"></textarea>-->
        <!--<input type="submit" value="Send!"/>-->
    <!--</form>-->
</a>

<img src="../images/img-divider.png" alt="divider" class="img-divider"/>

